recursive-include cqsat/cqsat_resource/bank/imgs *.jpg *.png
recursive-include cqsat/cqsat_resource/bank *.json
recursive-include cqsat/cqsat_resource/voices/prefix *.mp3
recursive-include cqsat/cqsat_resource/voices/suffix *.mp3
recursive-include cqsat/pre *.txt